
/* Your CSS Code here. */

*{
  font-family: Arial;
  text-align: center;
}
table{
  border:none;
  border-spacing:0;
}


td, th{
  padding: 10px;
	border : 1px solid lightgrey;
}

th{
	padding: 10px;
	border : 1px solid lightgrey;
}
/*------ FOR TABLE 1 --------*/
#table1 tr:nth-child(even) {
  background: #f0f0f0;
}
#table1 tr:nth-child(odd) {
  background: #FFF;
}

/*------ FOR TABLE 2 --------*/
#table2 td:nth-child(even) {
  background: #f0f0f0;
}
#table2 td:nth-child(odd) {
  background: #FFF;
}
